.main-header .logo { 
  font-family: "Josefin slab", Times, "Times New Roman", serif;
  font-weight: bold; font-size: 24px;
}

.main-sidebar {
  position: absolute !important;
}

.main-sidebar hr {
  margin: 8px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.main-sidebar p {
  margin: 5px 15px;
  color: rgba(255,255,255,0.5);
  font-size: 0.85em;
}

.main-sidebar h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 5px 15px;
  margin-top: 10px;
}

.main-sidebar .shiny-input-container {
  padding-top: 5px;
  margin-bottom: 5px;
}

.main-sidebar .exp_check_btn_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  margin-top: 10px;
}
.main-sidebar button#exp_check_all, .main-sidebar button#exp_check_none {
  background-color: #555;
  color: #EEE;
  transition: all 0.1s ease-in-out;
  margin: 0px 5px;
  padding: 2px 8px;
}
.main-sidebar button#exp_check_all:hover, .main-sidebar button#exp_check_none:hover {
  background-color: #666;
  color: #FFF;
}

.main-sidebar #Exp_Sets label.control-label {
  display: none;
}

.box.box-solid {
  box-shadow: 3px 3px 1px #AAA;
  border-radius: 10px;
}

.box-header {
  border-radius: 10px 10px 0px 0px;
}

.box-header .tooltip-btn {
  margin-left: 6px;
  background: transparent;
  color: inherit;
  padding: 0px;
  font-size: 1em;
  border: none;
}
.box-header .tooltip-btn:hover {
  background: transparent;
  color: #EEE;
  border: none;
}

.box-header .box-tools button.btn.btn-box-tool {
  color: inherit !important;
}

.box-body {
  height: 400px;
}

.box-body .shiny-output-error-validation {
  font-size: 2em;
  color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-footer {
  height: 55px;
  border-radius: 0px 0px 10px 10px;
}

.box-footer .row .shiny-download-link {
  width: 100%;
}

ul.sidebar-menu ul.treeview-menu {
  padding-left: 0px;
  margin-left: 0px !important;
}

/* loading indicator taken from:
Mogens Melander (https://codepen.io/TrasherDK):
https://codepen.io/TrasherDK/pen/XRzgOR
*/

/* Don't grey out plots while recalculating, just hide them */
.shiny-plot-output.recalculating {
  opacity: 1;  
}
.shiny-plot-output.recalculating img {
  display: none;
}
/* hide any error messages as well */
.shiny-plot-output.shiny-output-error.recalculating {
  color: rgba(0,0,0,0);
}

/* center the loading indicator horizontally and vertically */
.shiny-plot-output:empty,
.shiny-plot-output.recalculating {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* define the loading indicator */
.shiny-plot-output:empty:before,
.shiny-plot-output.recalculating:before {
  content: '';
  display: block;
  position: absolute;
  width: 75px !important;
  height: 75px !important;
  margin: 0 auto;
  background-color: #AAA;
  animation: rectangle 1.5s infinite ease-in-out;
}
 
@keyframes rectangle {
  0% {
    transform:perspective(12rem) rotateX(0deg) rotateY(0deg)
  }
  50% {
    transform:perspective(12rem) rotateX(-180.1deg) rotateY(0deg)
  }
  100% {
    transform:perspective(12rem) rotateX(-180deg) rotateY(-179.9deg)
  }
}

.tab-pane h1 {
  margin-top: 5px;
}

.documentation-tab {
  background-color: white;
  border-radius: 10px;
  /*padding: 10px 15px;*/
  margin-bottom: 20px;
  box-shadow: 3px 3px 1px #AAA;
}
.documentation-tab h3 {
  margin-top: 0px;
  margin-bottom: 3px;
  padding: 10px 10px;
  border-bottom: 1px dashed #AAA;
}
.documentation-tab .documentation-module {
  padding: 3px 20px;
  border-bottom: 1px solid #AAA;
}
.documentation-tab .documentation-module h4 {
  font-weight: bold;
}

#shiny-tab-settings h3 {
  margin-top: 0px;
}
