/* GLOBAL STYLES */

button.action-button {
  margin: 5px;
  border: none;
  background-color: #3c8dbc;
  color: #FFF;
  border-radius: 20px;
  box-shadow: 1px 1px 3px #AAA;
  transition: 0.1s all ease-in-out;
}
button.action-button:hover, button.action-button:active {
  border: none;
  background-color: #65a9d1;
  color: #FFF;
}


.main-header .logo { 
  /*font-family: "Josefin slab", Times, "Times New Roman", serif;*/
  font-weight: bold; font-size: 24px;
}

.main-sidebar {
  position: absolute !important;
}

.main-sidebar hr {
  margin: 8px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.main-sidebar p {
  margin: 5px 15px;
  color: rgba(255,255,255,0.5);
  font-size: 0.85em;
}

.main-sidebar h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 5px 15px;
  margin-top: 10px;
}

.main-sidebar .shiny-input-container {
  padding-top: 5px;
  margin-bottom: 5px;
}

.main-sidebar #Exp_Sets label.control-label {
  display: none;
}

.box.box-solid {
  box-shadow: 3px 3px 1px #AAA;
  border-radius: 10px;
}

.box-header {
  border-radius: 10px 10px 0px 0px;
}

.box-header .tooltip-btn {
  margin-left: 6px;
  background: transparent;
  color: inherit;
  padding: 0px;
  font-size: 1em;
  border: none;
}
.box-header .tooltip-btn:hover {
  background: transparent;
  color: #EEE;
  border: none;
}

.box-header .box-tools button.btn.btn-box-tool {
  color: inherit !important;
}

.box-body {
  /*height: 400px;*/
  overflow-y: auto;
}

.box-body .shiny-output-error-validation {
  font-size: 1.25em;
  color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  /* force parent width -- important when module with dynamic width errors out */
  max-width: 100% !important;
  min-width: 100% !important;
}

.box-footer {
  height: 55px;
  border-radius: 0px 0px 10px 10px;
}

.box-footer .row .shiny-download-link {
  width: 100%;
}

ul.sidebar-menu ul.treeview-menu {
  padding-left: 0px;
  margin-left: 0px !important;
}

.plot-module-body .shiny-html-output {
  overflow-x: scroll;
}

/* loading indicator taken from:
Mogens Melander (https://codepen.io/TrasherDK):
https://codepen.io/TrasherDK/pen/XRzgOR
*/

/* Don't grey out plots while recalculating, just hide them */
.shiny-plot-output.recalculating {
  opacity: 1;  
}
.shiny-plot-output.recalculating img {
  display: none;
}
/* hide any error messages as well */
.shiny-plot-output.shiny-output-error.recalculating {
  color: rgba(0,0,0,0);
}

/* center the loading indicator horizontally and vertically */
.shiny-plot-output:empty,
.shiny-plot-output.recalculating {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* define the loading indicator */
.shiny-plot-output:empty:before,
.shiny-plot-output.recalculating:before {
  content: '';
  display: block;
  position: absolute;
  width: 75px !important;
  height: 75px !important;
  top: calc(50% - 37px);
  left: calc(50% - 37px);
  background-color: #AAA;
  animation: rectangle 1.5s infinite ease-in-out;
}
 
@keyframes rectangle {
  0% {
    transform:perspective(12rem) rotateX(0deg) rotateY(0deg)
  }
  50% {
    transform:perspective(12rem) rotateX(-180.1deg) rotateY(0deg)
  }
  100% {
    transform:perspective(12rem) rotateX(-180deg) rotateY(-179.9deg)
  }
}

.tab-pane h1 {
  margin-top: 5px;
}

.documentation-tab {
  background-color: white;
  border-radius: 10px;
  /*padding: 10px 15px;*/
  margin-bottom: 20px;
  box-shadow: 3px 3px 1px #AAA;
}
.documentation-tab h3 {
  margin-top: 0px;
  margin-bottom: 3px;
  padding: 10px 10px;
  border-bottom: 1px dashed #AAA;
}
.documentation-tab .documentation-module {
  padding: 3px 20px;
  border-bottom: 1px solid #AAA;
}
.documentation-tab .documentation-module h4 {
  font-weight: bold;
}

#shiny-tab-settings h3 {
  margin-top: 0px;
}

#shiny-tab-import .tab-pane {
  padding: 10px;
}

.import-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 15px;
}

.import-header span.num {
  font-size: 2em;
  /* padding: 10px; */
  background-color: #3c8dbc;
  border-radius: 40px;
  color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: bold;
}

.import-header h2 {
  margin: 0px;
  margin-left: 10px;
}

#shiny-tab-import h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}

#shiny-tab-import .well {
  box-shadow: 2px 2px 3px #AAA;
  border: none;
  background-color: #FFF;
  padding: 20px;
  border-radius: 8px;
}
#shiny-tab-import .well-header {
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 15px;
  padding: 10px 20px;
  background-color: #61747f;
  color: white;
  border-radius: 8px 8px 0px 0px;
}
#shiny-tab-import .well-header h4 {
  margin: 0px;
}
#shiny-tab-import .upload-button-container {
  margin-bottom: 20px;
  width: 100%;
}
#shiny-tab-import #data_status {
  font-size: 1.2em;
}
#shiny-tab-import button#confirm_folders {
  color: #FFF;
  width: 100%;
  font-size: 1.75em;
  /*font-weight: bold;*/
  box-shadow: 2px 2px 3px #AAA;
  border: none;
  transition: 0.1s all ease-in-out;
  height: 50px;
  border-radius: 25px;
}
#shiny-tab-import button#confirm_folders:hover, #shiny-tab-import button#confirm_folders:active {
  border: none;
  color: #FFF;
  background-color: #65a9d1;
}

#shiny-tab-import .selected-folders-output {
  margin-bottom: 10px;
}
#shiny-tab-import .selected-folders-output #selected_folders {
  font-size: 1.2em;
}
#shiny-tab-import .folder-button-list {
  margin-bottom: 5px;
}

.input-file-select-well {
  max-width: 300px;
}

.files_check_all, .files_check_none {
  border: none;
  border-radius: 20px;
  background-color: #3c8dbc;
  color: white;
  padding: 5px 15px;
  box-shadow: 1px 1px 3px #AAA;
  margin-right: 5px;
  transition: 0.1s all ease-in-out;
}
.files_check_all:hover, .files_check_none:hover {
  border: none;
  background-color: #65a9d1;
  color: #FFF;
}
#input_files {
  margin-top: 30px;
}
#input_files label.control-label {
  display: none;
}
#input_files .checkbox {

}
#input_files .checkbox .btn.tooltip-btn {
  padding: 0px 3px;
  margin: 0px;
  margin-left: 3px;
  border: none;
}

/* data table in import tab */
#folder_table { }

/* styles for empty folder table (while loading) */
#folder_table:empty {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* loading indicator - same for recalculating plots */
#folder_table:empty:before {
  content: '';
  display: block;
  position: absolute;
  width: 75px !important;
  height: 75px !important;
  margin: 0 auto;
  background-color: #AAA;
  animation: rectangle 1.5s infinite ease-in-out;
}

#folder_table .dataTables_length label {
  font-weight: inherit;
}
#folder_table .dataTables_length label select {
  min-width: 50px;
  margin: 0px 0.5em;
}
#folder_table .dataTables_filter label {
  font-weight: inherit;
}
#folder_table .dataTables_filter label input[type='search'] {
  border: 1px solid #CCC;
  border-radius: 8px;
  padding: 2px 10px;
  font-weight: normal;
  outline-offset: -3px;
}
#folder_table table.dataTable {  }
#folder_table .dataTables_paginate {
  padding-top: 0.75em;
}
#folder_table a.paginate_button {
  background: #FFF;
  color: #666;
  border: none;
  border-radius: 8px;
  transition: 0.1s all ease-in-out;
  margin: 0px 0.2em;
}
#folder_table a.paginate_button.current {
  color: #000;
  background: #DDD;
}
#folder_table a.paginate_button.disabled {
  background: #FFF;
  color: #888;
}
#folder_table a.paginate_button:hover {
  color: #000 !important;
  background: #EEE;
  border-radius: 8px;
}
#folder_table a.paginate_button.disabled:hover {
  color: #888 !important; 
  background: #FFF;
}

.version-string {
  font-size: 1.25em;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
}

/* tooltips for sliders */
.slider-label-header {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 500px; /* purposely overflow to give more room for tooltip */
  align-items: center;
}

.slider-label-header .slider-title {
  margin-right: 10px;
}

.slider-label-header .tooltip-btn {
  padding: 3px;
  outline: none;
  border: none;
  color: white;
  box-shadow: none;
  background-color: transparent;
  transition: 0.1s all ease-in-out;
}

.slider-label-header .tooltip-btn:hover {
  color: rgba(255,255,255,0.75);
}
