
$body-background-color: $white;
$sidebar-color: $grey-lt-000;
$border-color: $grey-lt-100;

$body-text-color: $grey-dk-100;
$body-heading-color: $grey-dk-300;
$nav-child-link-color: $grey-dk-100;

$link-color: $blue-000;
$btn-primary-color: $blue-100;
$base-button-color: #f7f7f7;

$code-background-color: $grey-lt-000;
